<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stage Monitor - Fehler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>

    <h1>keine gültige Screen Konfiguration gefunden.</h1>

</body>
</html>
