<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.jira.domain.JiraInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock jiraInformation" th:classappend="${svh.getCssClassForJira(appInfo)}">
    <a th:href="${#vars.getVariable('mobitor.plugins.jira.baseUrl') + '/issues/?filter=' + appInfo.filterId}"
       th:title="${'Critical: ' + appInfo.criticalIssues + ' / Major: ' + appInfo.majorIssues}"
       target="_blank">
        <i class="fa fa-bug" aria-hidden="true"></i>Jira: <span th:text="${appInfo.total}" />
    </a>
</span>

</body>
</html>
